html, body {
    /* margin: 0;
    padding: 0; */
    /* font-family: Arial; */
    font-family: 'Dancing Script', cursive;
    /* font-weight: bold; */
    font-family: 'Architects Daughter', cursive;
    /* font-family: 'Exo 2', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif', serif;
    text-shadow: 2px 2px 15px #aa2716;
    font-weight: 700;
    color: #29261d;
    background: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

:root {
    --button: #dad3b6;
    --text: #a09461;
    --border: #333300;
}

.fetch_img {
    
   max-width: 100%;
   object-fit: cover;
   /* margin: 2em; */
   /* padding: 2em; */
   border: solid 2px var(--border);
   border-radius: 1em;
}

button {
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    /* font-weight: bold; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    background: var(--button);
    border-radius: 0.5em;
    text-shadow: 2px 2px 10px rgba(109, 85, 18, 0.4);
    font-size: 20px;
    box-shadow: 5px 5px 12px;
    transition: all 0.5s;
}
button:hover, button:focus {
    font-size: 21px;
    background: #dad3a6;
}
